/*#region-----------------------------Very General style-----------------------------*/
@charset "utf-8";
@font-face {
    font-family: futura-light;
    src: url(../FuturaPTFont/Light.ttf)  format('truetype');
   }

   @font-face {
   font-family: futura-medium;
   src: url(../FuturaPTFont/Medium.ttf)  format('truetype');
   }

html{
   scroll-behavior: smooth;
}

#Individual_Content{
   font-family: futura-light;
}

.resize-animation-stopper * {
   animation: none !important;
   transition: none !important;
}

body{
   background-color: #ffffe6;
}

footer{
   width: 100%;
   text-align: center; 
   background-color: #cfbea5;
   margin-top: auto;
   font-family: futura-light;
   font-size: 1.5vw;
   height: 7vw;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1%;
}

/*#endregion*/

/*#region-----------------------------Style For Title And Logo----------------------*/
/*Style for Header*/
/*For Logo and title*/  
header{
   width: 100%;
   padding-top: 1%;
   background-color: #cfbea5;
}
/*Style for Header*/
/*For Logo and title*/  
#LogoAndTitle{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 4.5vw;
   text-align: center;
}

#LogoAndTitle div:nth-of-type(odd){
   flex-basis: 20%;
}

#LogoAndTitle div:nth-of-type(even){
   flex-basis: 80%;
   font-family: futura-light;
}
/*#endregion*/

/*#region-----------------------------Style for horizontal navigation and the layout----------------------*/
.hori_nav{
   box-shadow:0px 1px 5px grey;
   width: 100%;
}

.hori_nav > ul {
   width: 100%;
   margin: 0%;
   padding: 0px;
   display: flex;
}

.hori_nav > ul > li{
   flex-basis: 12.5%;
   list-style: none;
   justify-content: center;
   display: flex;
}

.hori_nav > ul > li > a{
   text-align: center;
   width: 100%;
   text-decoration: none;
   font-size: 1.5vw;
   color:#1B1B1B;
   font-family: futura-light;
   padding: 7%
}

.hori_nav > ul > li > a:hover {
   color:#FFFCF5;
   background-color:#1B1B1B;
   opacity: 0.9;
   transition: 0.8s;
}

#TP_NavContainer{
   display: none;
   width: 100%;
}

#TabPhHdr, #TabPhoneNav{
   display: none;
}

/*#endregion*/

/*#region-----------------------------Style for vertical navigation------------------------*/
#R2-8Layout{
   display: flex;
   width: 100%;
   margin-top: 3%;
   min-height: 50vw;
}

#R2-8Layout > nav{
   display: flex;
   flex-basis: 20%;
   justify-content: flex-end;
}

#R2-8Layout > nav > ul{
   display: flex;
   padding-bottom: 10%;
   flex-basis: 70%;
   list-style: none;
   flex-wrap: wrap;
   justify-content: center;
   max-height: 70vh;
   min-height: 59vw;
}

#R2-8Layout > nav > ul > li {
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-top: 5%;
   height: calc(50vw/7);
}

#R2-8Layout > nav > ul > li > a{
   display: flex;
   justify-content: center;
   align-items: center;
}

#R2-8Layout > nav > ul > li:nth-of-type(1){
   margin-top: 0;
}

#R2-8Layout > nav > ul > li > a > img{
   width: 80%;
   transition: width 1s, filter 0.8s;
   filter: invert(0%);
   padding: 3%;
}

#R2-8Layout > nav > ul > li:hover > a > img{
   width: 90%;
   filter: invert(100%);
   transition: filter 0.8s,width 1s;
   cursor: pointer;
   background-color: rgb(177, 175, 175);
   transition: background-color 1s, width 1s;
   cursor: pointer;
 }

/*Content Area */
#ContentArea{
   display: flex;
   flex-basis: 80%;
   min-height: 50vw;
}

#Individual_Content{
   flex-basis: 100%;
}

/*#endregion*/

/*#region-----------------------------Tablet Layout----------------------------------------*/
@media only screen and (max-width:1150px){

   /*---------Header style for tablet and mobile device------------------*/
   #TabPhHdr{
      display: block;
      padding: 2%;
      box-shadow: 1px 1px grey;
   }

   /*----------Content Area style for tablet and mobile device------------*/
   #ContentArea{
      flex-basis: 100%;
      flex-wrap: wrap;
   }

   /*----------Below is Product List navigation style---------------------*/
   #Desktop, #R2-8Layout > nav, .hori_nav{
      display: none;
   }
   
   #TP_NavContainer{
      display: flex;
      width: 100%;
   }

   #TP_NavContainer > nav > ul {
      display: flex;
   }

   #TP_NavContainer > nav > ul > li{
      flex-basis: calc(100% / 7);
      flex-wrap: wrap;
   }

   #TP_NavContainer > nav > ul > li > a > img{
      width: 100%;
      padding: 4%;
   }
   
   /*--------------------Below is drop down list style---------------------*/
   #NaviconBtn{
      background-image: url("../Image/BurgerIcn.png");
      width: 5vw;
      height: 5vw;
      background-size: cover;
      background-position: center;
      background-color: transparent;
      outline: transparent;
      border-color: transparent;
      cursor: pointer;
      background-repeat: no-repeat;
   }

   #TabPhoneNav{
      display: flex;
   }

   #TabPhoneNav > ul{
      width: 30%;
      position: absolute;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity 1s;
      margin-left: 7%;
      margin-top: -2.8%;
      border: 1px solid lightgray;
      box-shadow: 1px 1px 3px black;
   }

   #TabPhoneNav > ul > li{
      width: 100%;
      height: calc(100% / 8);
      display: flex;
      background-color: rgb(255, 255, 255);
      box-shadow: black;
      align-items: center;
      padding-left: 5%;
      background-color: #f3f3ec;
   }

   #TabPhoneNav > ul > li:hover{
      background-color: #cfbea5;
      transition: background-color 0.5s;
   }

   #TabPhoneNav > ul > li > a{
     font-family: futura-light;
     font-size: 2vw;
     color: black;
   }
}
/*#endregion*/

/*#region-----------------------------Phone Layout----------------------------------------*/
@media only screen and (max-width:480px){

   #TabPhoneNav > ul{
      width: 100%;
      margin-left: 0;
      margin-top: -3%;
   }

   #TabPhoneNav > ul{
      border: 1px solid lightgray;
      box-shadow: 1px 0.5px 1.5px black;
   }
   #TP_NavContainer > nav{
      display: flex;
      justify-content: center;
   }
   
   #TP_NavContainer > nav > ul{
      flex-wrap: wrap;
      width: 85%;
   }

   #TP_NavContainer > nav > ul > li{
      flex-basis: calc(100% / 3);
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #TP_NavContainer > nav > ul > li > a > img{
      width: 85%;
   }

   #TabPhoneNav > ul > li > a{
      font-size: 4vw;
   }
}
/*#endregion*/
